-- MariaDB dump 10.17  Distrib 10.4.14-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: tp-bd-a66453
-- ------------------------------------------------------
-- Server version	10.4.14-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `tp-bd-a66453`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `tp-bd-a66453` /*!40100 DEFAULT CHARACTER SET utf8 */;

USE `tp-bd-a66453`;

--
-- Table structure for table `ativo`
--

DROP TABLE IF EXISTS `ativo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ativo` (
  `idAtivo` varchar(15) NOT NULL,
  `descri├º├úo` mediumtext DEFAULT NULL,
  `nomeAtivo` varchar(45) DEFAULT NULL,
  PRIMARY KEY (`idAtivo`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ativo`
--

LOCK TABLES `ativo` WRITE;
/*!40000 ALTER TABLE `ativo` DISABLE KEYS */;
/*!40000 ALTER TABLE `ativo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ativo_has_carteiradeativos`
--

DROP TABLE IF EXISTS `ativo_has_carteiradeativos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ativo_has_carteiradeativos` (
  `Ativo_idAtivo` varchar(15) NOT NULL,
  `CarteiraDeAtivos_IdCarteira` int(11) NOT NULL,
  PRIMARY KEY (`Ativo_idAtivo`,`CarteiraDeAtivos_IdCarteira`),
  KEY `fk_Ativo_has_CarteiraDeAtivos_CarteiraDeAtivos1_idx` (`CarteiraDeAtivos_IdCarteira`),
  KEY `fk_Ativo_has_CarteiraDeAtivos_Ativo1_idx` (`Ativo_idAtivo`),
  CONSTRAINT `fk_Ativo_has_CarteiraDeAtivos_Ativo1` FOREIGN KEY (`Ativo_idAtivo`) REFERENCES `ativo` (`idAtivo`) ON DELETE NO ACTION ON UPDATE NO ACTION,
  CONSTRAINT `fk_Ativo_has_CarteiraDeAtivos_CarteiraDeAtivos1` FOREIGN KEY (`CarteiraDeAtivos_IdCarteira`) REFERENCES `carteiradeativos` (`IdCarteira`) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ativo_has_carteiradeativos`
--

LOCK TABLES `ativo_has_carteiradeativos` WRITE;
/*!40000 ALTER TABLE `ativo_has_carteiradeativos` DISABLE KEYS */;
/*!40000 ALTER TABLE `ativo_has_carteiradeativos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `carteiradeativos`
--

DROP TABLE IF EXISTS `carteiradeativos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `carteiradeativos` (
  `nomeCarteira` varchar(20) NOT NULL,
  `Utilizadores_UserId` int(11) DEFAULT NULL,
  `IdCarteira` int(11) NOT NULL AUTO_INCREMENT,
  PRIMARY KEY (`IdCarteira`),
  UNIQUE KEY `nomeCarteira` (`nomeCarteira`,`Utilizadores_UserId`),
  KEY `fk_CarteiraDeAtivos_Utilizadores1_idx` (`Utilizadores_UserId`),
  CONSTRAINT `fk_CarteiraDeAtivos_Utilizadores1` FOREIGN KEY (`Utilizadores_UserId`) REFERENCES `utilizadores` (`UserId`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `carteiradeativos`
--

LOCK TABLES `carteiradeativos` WRITE;
/*!40000 ALTER TABLE `carteiradeativos` DISABLE KEYS */;
INSERT INTO `carteiradeativos` VALUES ('teste1',7,21);
/*!40000 ALTER TABLE `carteiradeativos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cotacao`
--

DROP TABLE IF EXISTS `cotacao`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cotacao` (
  `valor` double NOT NULL,
  `sinal` int(11) NOT NULL,
  `dataHora` datetime NOT NULL,
  `transacionadoUltimaHora` int(11) NOT NULL,
  `Ativo_idAtivo` varchar(15) DEFAULT NULL,
  `IdCotacao` int(11) NOT NULL AUTO_INCREMENT,
  PRIMARY KEY (`IdCotacao`),
  KEY `fk_Cotacao_Ativo1_idx` (`Ativo_idAtivo`),
  CONSTRAINT `fk_Cotacao_Ativo1` FOREIGN KEY (`Ativo_idAtivo`) REFERENCES `ativo` (`idAtivo`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=1025 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cotacao`
--

LOCK TABLES `cotacao` WRITE;
/*!40000 ALTER TABLE `cotacao` DISABLE KEYS */;
/*!40000 ALTER TABLE `cotacao` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `interesse`
--

DROP TABLE IF EXISTS `interesse`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `interesse` (
  `Utilizadores_UserId` int(11) NOT NULL,
  `Ativo_idAtivo` varchar(15) NOT NULL,
  PRIMARY KEY (`Utilizadores_UserId`,`Ativo_idAtivo`),
  KEY `fk_Utilizadores_has_Ativo_Ativo1_idx` (`Ativo_idAtivo`),
  KEY `fk_Utilizadores_has_Ativo_Utilizadores1_idx` (`Utilizadores_UserId`),
  CONSTRAINT `fk_Utilizadores_has_Ativo_Ativo1` FOREIGN KEY (`Ativo_idAtivo`) REFERENCES `ativo` (`idAtivo`) ON DELETE NO ACTION ON UPDATE NO ACTION,
  CONSTRAINT `fk_Utilizadores_has_Ativo_Utilizadores1` FOREIGN KEY (`Utilizadores_UserId`) REFERENCES `utilizadores` (`UserId`) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `interesse`
--

LOCK TABLES `interesse` WRITE;
/*!40000 ALTER TABLE `interesse` DISABLE KEYS */;
INSERT INTO `interesse` VALUES (6,'ALTR.LS'),(7,'ALTR.LS'),(7,'EDP.LS');
/*!40000 ALTER TABLE `interesse` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `noticias`
--

DROP TABLE IF EXISTS `noticias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `noticias` (
  `data` date NOT NULL,
  `conteudo` mediumtext NOT NULL,
  `link` varchar(5000) NOT NULL,
  `IdNoticia` int(11) NOT NULL AUTO_INCREMENT,
  PRIMARY KEY (`IdNoticia`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `noticias`
--

LOCK TABLES `noticias` WRITE;
/*!40000 ALTER TABLE `noticias` DISABLE KEYS */;
INSERT INTO `noticias` VALUES ('2021-01-26','Altri compromete-se com objetivos sustent├íveis das Na├º├Áes Unidas','https://www.jornaldenegocios.pt/sustentabilidade/ambiente---descarbonizacao/detalhe/altri-compromete-se-com-objetivos-sustentaveis-das-nacoes-unidas',1),('2021-02-05','BCP e EDP animam PSI-20 no fecho da semana','https://www.jornaldenegocios.pt/mercados/bolsa/detalhe/bcp-e-edp-animam-psi-20-no-fecho-da-semana',2),('2021-01-12','Mota-Engil dispara 7,5% e d├í ganhos ao PSI-20','https://www.jornaldenegocios.pt/mercados/bolsa/detalhe/mota-engil-dispara-75-e-da-ganhos-ao-psi-20',3);
/*!40000 ALTER TABLE `noticias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `noticias_has_ativo`
--

DROP TABLE IF EXISTS `noticias_has_ativo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `noticias_has_ativo` (
  `Noticias_IdNoticia` int(11) NOT NULL,
  `Ativo_idAtivo` varchar(15) NOT NULL,
  PRIMARY KEY (`Noticias_IdNoticia`,`Ativo_idAtivo`),
  KEY `fk_Noticias_has_Ativo_Ativo1_idx` (`Ativo_idAtivo`),
  KEY `fk_Noticias_has_Ativo_Noticias1_idx` (`Noticias_IdNoticia`),
  CONSTRAINT `fk_Noticias_has_Ativo_Ativo1` FOREIGN KEY (`Ativo_idAtivo`) REFERENCES `ativo` (`idAtivo`) ON DELETE NO ACTION ON UPDATE NO ACTION,
  CONSTRAINT `fk_Noticias_has_Ativo_Noticias1` FOREIGN KEY (`Noticias_IdNoticia`) REFERENCES `noticias` (`IdNoticia`) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `noticias_has_ativo`
--

LOCK TABLES `noticias_has_ativo` WRITE;
/*!40000 ALTER TABLE `noticias_has_ativo` DISABLE KEYS */;
INSERT INTO `noticias_has_ativo` VALUES (1,'ALTR.LS'),(2,'BCP.LS'),(2,'EDP.LS'),(3,'EGL.LS');
/*!40000 ALTER TABLE `noticias_has_ativo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `utilizadores`
--

DROP TABLE IF EXISTS `utilizadores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `utilizadores` (
  `UserId` int(11) NOT NULL AUTO_INCREMENT,
  `Pass` varchar(255) NOT NULL,
  `email` varchar(45) NOT NULL,
  `adm` tinyint(4) NOT NULL,
  `Permissao` tinyint(4) NOT NULL,
  PRIMARY KEY (`UserId`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `utilizadores`
--

LOCK TABLES `utilizadores` WRITE;
/*!40000 ALTER TABLE `utilizadores` DISABLE KEYS */;
INSERT INTO `utilizadores` VALUES (6,'$2y$10$09NCEXwIdXOwda5jl5pbrehc11Fpds8iNuCs9n5rUjh6b3JViGxv2','a66453@ualg.pt',0,0),(7,'$2y$10$vN84ugkV7ORxUndubS7jculZYEMTqkzApig3rdSboJWWoHGW1x90q','teste',0,0);
/*!40000 ALTER TABLE `utilizadores` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2021-02-22 15:43:54
